<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="ReaderFromFile" value="false"/>
    <add key="ReaderFromFileDirectory" value="C:\NPR_CLIENT\MONITORAMENTO\Resultado_Wireshark_Getnet_00001_20130301130239.cap"/>
    <add key="RepositoryFiles" value="C:\NPR_CLIENT\RESULTADO\"/>
    <add key="FilterPacket" value="port 8720"/>
    <add key="IP_Origem" value=""/>
    <add key="IP_Destino" value=""/>
    <add key="NetworkAdapter" value="Intel(R) 82574L Gigabit Network Connection"/>
    <add key="PossuiIntervaloMonitoramento" value="false"/>
    <add key="IntervaloMonitoramento" value="10"/>
    <add key="TipoRepositorio" value="0"/> <!--0=ArquivoTexto / 1=VerticaDatabase / 2=StreamBase-->
    <add key="StreamBaseServer" value="sb://localhost:10000"/>
    <add key="StreamBaseInput" value="Input_NPR_Stream_Base"/>
    <add key="StreamBaseField" value="DS_MENSAGEM_SNIFER"/>
  </appSettings>
  <connectionStrings>
    <add name="VerticaConnection" connectionString="Host=16.250.50.14;User=vertica;Password=password;DataBase=Desafio; "/>
  </connectionStrings>
</configuration>

